.backgroundModal{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: rgba(15, 15, 19, 0.6);
    cursor: pointer;
    z-index: 200;
    top: 0;
}

.modal{
    top: 0;
    background-color: #FFFFFF;
    position: absolute;
    margin-left: 35vw;
    margin-top: 10vh;
    width: 30vw;
    border-radius: 10px;
    z-index: 300;
    display: grid;
    grid-template-rows: 60px auto 60px;
}

.headerModal{
    border-bottom: 1px solid var(--disable);
    display: grid;
    grid-template-columns: 1fr 24px;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
}

.footerModal{
    border-top: 1px solid var(--disable);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footerModal .link{
    color: #1D62B1;
    margin-left: 5px;
}

.contentModal{
    padding: 24px;
    text-align: center;
}

.iconClose{
    width: 16px;
    cursor: pointer;
}