.backgroundModal{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: rgba(15, 15, 19, 0.6);
    cursor: pointer;
    z-index: 200;
    top: 0;
}

.modal{
    top: 0;
    background-color: #FFFFFF;
    position: absolute;
    margin-left: 35vw;
    margin-top: 90px;
    width: 30vw;
    border-radius: 10px;
    z-index: 300;
    display: grid;
    grid-template-rows: 50px auto 50px;
}

.headerModal{
    border-bottom: 1px solid #000000;
}

.footerModal{
    border-top: 1px solid #000000;
}

.contentModal{
    padding: 24px;
}