:root {
    --primary: #FF4B2B;
    --secundary: #FF416C;
    --textDark: #000000;
    --textLight: #FFFFFF;
    --disable:#9B9B9B;
    --background: #FBFBFB;
    --select: #1D62B1;
}

body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100vh;
}

html {
    background: var(--background);
    background-size: cover;
}

a{
    text-decoration: none;
    cursor: pointer;
}

.content{
    padding: 100px 64px 20px 64px;
}

.button{
    border-radius: 50px;
    padding: 0 15px 0 15px;
    align-items: center;
    height: 35px;
    font-family: FontRegular;
    font-size: 18px;
    outline: none;
    cursor: pointer;
    min-width: 100px;
}

.buttonPrimary{
    background: transparent linear-gradient(90deg, var(--secundary) 0%, var(--primary) 100%) 0% 0% no-repeat padding-box;
    border: none;
    color: var(--textLight);
    box-shadow: 0px 3px 6px #00000029;
}

.buttonSecundary{
    background: none;
    border: 1px solid var(--primary);
    color: var(--primary);
    transition: color .5s;
}

.buttonSecundary:hover{
    background-image: linear-gradient(90deg, var(--secundary) 0%, var(--primary) 100%);
    color: var(--textLight);
}