.cardsBanner{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
}

.cardsBanner .cardItem{
    display: grid;
    grid-template-columns: 140px 1fr;
    grid-gap: 20px;
    align-items: center;
}

.cardsBanner article{
    width: 140px;
    height: 120px;
    border: 1px solid var(--textDark);
    border-radius: 15px;
}