.navbar{
    background-color: var(--textLight);
    height: 70px;
    width: 100vw;
    box-shadow: 0px 3px 6px #00000029;
    display: grid;
    grid-template-columns: 300px auto;
    align-items: center;
    position: fixed;
    z-index: 100;
}

.navbar .optionsNavbar{
    display: flex;
    flex-direction: row;
    justify-self: right;
    align-items: center;
    padding-right: 50px;
}

.navbar .iconNavbar{
    width: 20px;
    margin-right: 30px;
    cursor: pointer;
}

.navbar .buttonSecundary{
    margin-right: 10px;
}

.navbar .containerLogo{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 30px;
}

.navbar .containerLogo article{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 40px;
    cursor: pointer;
    color: var(--disable);
}

.navbar .containerLogo article img{
    width: 20px;
    margin-right: 8px;
}