.navbar{
    background-color: var(--textLight);
    height: 70px;
    width: 100vw;
    box-shadow: 0px 3px 6px #00000029;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    position: fixed;
    z-index: 100;
}

.navbar .optionsNavbar{
    display: flex;
    flex-direction: row;
    justify-self: right;
    align-items: center;
    padding-right: 50px;
}

.navbar .iconNavbar{
    width: 20px;
    margin-right: 25px;
    padding: 10px 5px;
    cursor: pointer;
}

.navbar .inputSearch{
    width: 25vw;
    padding: 7px 15px;
    border-radius: 50px;
    border: 1px solid var(--disable);
    color: var(--textDark);
    outline: none;
    margin: 0 15px;
}

.navbar .showSearch{ animation: showSearch .6s; }

.navbar .closeSearch{ animation: closeSearch .6s; }

.navbar .buttonSecundary{
    margin-right: 10px;
}

.navbar .containerLogo{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 30px;
}

.navbar .containerLogo .Large-Text-Bold{
    color: var(--textDark);
}

.navbar .containerLogo article{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 40px;
    cursor: pointer;
    color: var(--disable);
    padding: 25px 0;
}

.navbar .containerLogo article img{
    width: 20px;
    margin-right: 8px;
}

.navbar .dropdownUser{
    min-width: 200px;
    position: absolute;
    list-style: none;
    margin-left: -160px;
    margin-top: -5px;
    background-color: #FFFFFF;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 5px;
    padding: 0;
    display: none;
}

.navbar .profileOptions:hover .dropdownUser{
    display: block;
}

.navbar .dropdownUser li{
    padding: 10px 24px;
    color: var(--textDark);
    cursor: pointer;
}

.navbar .dropdownUser li:hover{
    color: var(--primary);
}

.navbar .dropdownUser .liLine{
    border-bottom: 1px solid #B4B4B4;
}

.navbar .subDropdown{
    position: absolute;
    list-style: none;
    width: max-content;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0px 3px 6px #00000029;
    padding: 0;
    right: 192px;
    margin-top: -30px;
    display: none;
}

.navbar .reports:hover .subDropdown{
    display: block;
}

.navbar .containerCategories:hover .dropdownCategories{
    display: block;
}

.navbar .dropdownCategories{
    background: #FFFFFF;
    position: absolute;
    width: 100%;
    left: 0;
    margin-top: -2px;
    display: none;
    height: auto;
    box-shadow: 0px 3px 3px #00000029;
    animation: showCategories .6s;
}

.navbar .dropdownCategories div{
    padding: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
}

.navbar .dropdownCategories div li{
    list-style: none;
    color: var(--textDark);
    cursor: pointer;
    animation: showLi 1s;
    padding: 10px 0;
}

.navbar .dropdownCategories div li:hover{
    color: var(--primary);
}

@keyframes showCategories {
    0% {
        top: 0;
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    70% {
        opacity: 1;
    }
    100% {
        top: 70px;
    }
}


@keyframes showLi {
    0% {
        opacity: 0;
    }
    40%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes showSearch{
    0% {
        width: 0;
        opacity: 0;
    }
    100% {
        width: 25vw;
        opacity: 1;
    }
}

@keyframes closeSearch{
    0% {
        width: 25vw;
        opacity: 1;
    }
    100% {
        width: 0;
        opacity: 0;
    }
}